<%
  @meta_title = "Resend confirmation instructions - Feedka"
  @meta_description = "If you've signed up recently and still didn't get a confirmation email from us, then you can request to get a new confirmation email here."
%>

<section class="container mt-50">
  <div class="align-center">
    <h3>Resend confirmation instructions</h3>
    <u class="u-gold fs-1-2 italic">If you've signed up recently and still didn't get a confirmation email from us, then you can request to get a new confirmation email below. Please allow up to 10 minutes before re-requesting. If the problem persists, submit us a <%= link_to "report here", submit_report_path(username: "#{ENV['admin_username']}") %>.</u>
  </div>

  <div class="mt-40 align-center-flex-vh">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form-tag" }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="form-field">
        <%= f.label :email, class: "form-field-label" %>
        <p class="form-field-explanation">Enter the same email address below that you've used to signup at feedka. We use this email address only for authentication purposes, thus no spam, no selling to any 3rd party providers. Like a pinky promise.</p>
        <%= f.email_field :email, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-field-input", required: true %>
      </div>
    
      <div class="align-center mt-30">
        <%= f.submit "Submit", class: "btn btn-wide btn-rev" %>
        <br />
        <br />
        <%= link_to "Back", :back, class: "btn btn-wide" %>
      </div>
    <% end %>
  </div>
</section>

<%= render "users/shared/links" %>
