<p>You're all set to get feedback: Here is your unique URL - <a href=<%= "/f/#{current_user.username}" %>><%= ENV["app_base_domain"] + "/f/#{current_user.username}" %></a></p>

<hr />

<% @feeds.each do |feed| %>
  <p><%= feed.content %></p>
  <% if feed.public? %>
    <%= link_to "Make private", private_feed_path(feed.id), method: :patch %>
  <% else %>
    <%= link_to "Make public", public_feed_path(feed.id), method: :patch %>
  <% end %>
  <%= link_to "Delete Feed", feed_path(feed.id), method: :delete %>
<% end %>