<%
  @meta_title = "Your feeds - Feedka"

  c_name = ENV["c_name"]
  share_message = "Holla, I am looking for ways to improve, so please leave your constructive feedback for me here."
  feedback_url = "#{ENV['app_base_domain']}/f/#{current_user.username}"

  facebook_share_url = "https://www.facebook.com/sharer/sharer.php?u=#{feedback_url}&quote=#{share_message}&hashtag=#feedka"
  twitter_share_url = "https://twitter.com/intent/tweet?text=#{share_message}%0A&hashtags=feedka,#{c_name}&url=#{feedback_url}&via=#{c_name}"
  whatsapp_share_url = "https://api.whatsapp.com/send?text=#{share_message}%0A#{feedback_url}"
  linkedin_share_url = "https://www.linkedin.com/sharing/share-offsite/?url=#{feedback_url}"
%>

<section class="container mt-50">
  <div class="jumbo jumbo-success jumbo-share">
    <p>
      You're now all set to receive feedback. Here is your unique URL that you can share with others:
      <%= link_to "#{ENV['app_base_domain']}/f/#{current_user.username}", feedback_path(username: "#{current_user.username}") %>
    </p>
    
    <br /><br />
    
    <div class="align-center">
      <span>Share on: <span>
      <%= link_to "#{whatsapp_share_url}", class: "a-image ml-5", target: "_blank", rel: "noopener noreferrer" do %>
        <%= image_tag "icons/if-whatsapp-50x50.svg", alt: "whatsapp-share-icon" %>
      <% end %>
      <%= link_to "#{facebook_share_url}", class: "a-image ml-5", target: "_blank", rel: "noopener noreferrer" do %>
        <%= image_tag "icons/if-facebook-50x50.svg", alt: "fb-share-icon" %>
      <% end %>
      <%= link_to "#{twitter_share_url}", class: "a-image ml-5", target: "_blank", rel: "noopener noreferrer" do %>
        <%= image_tag "icons/if-twitter-50x50.svg", alt: "twtr-share-icon" %>
      <% end %>
      <%= link_to "#{linkedin_share_url}", class: "a-image ml-5", target: "_blank", rel: "noopener noreferrer" do %>
        <%= image_tag "icons/if-linkedin-50x50.svg", alt: "linkedin-share-icon" %>
      <% end %>

      <br />

      <p>or</p>

      <br />

      <%= link_to "Click here to copy link to clipboard", "javascript:void(0);", class: "copytoClipboard", data: { clipboard_text: "#{share_message} #{ENV['app_base_domain']}/f/#{current_user.username}" } %>
    </div>
  </div>
</section>

<hr class="hr-center" />

<section class="container">
  <div class="align-center">
    <h2>Your feeds</h2>
    <u class="u-orange fs-1-2 italic">Below is all the feedback that you've received filtered from new to old. You can even choose to make your feedback public or delete em.</u>
  </div>

  <div class="mt-40">
    <% @feeds.each do |feed| %>
      <% feed_content = Encryption.decrypt_data(feed.content) %>
      <p><%= feed_content %></p>
      <% if feed.public? %>
        <%= link_to "Make private", private_feed_path(feed.id), method: :patch, data: { confirm: "Are you sure you want to make this feedback private?" } %>
      <% else %>
        <%= link_to "Make public", public_feed_path(feed.id), method: :patch, data: { confirm: "Are you sure you want to make this feedback public?" } %>
      <% end %>
      <%= link_to "Delete", feed_path(feed.id), method: :delete, data: { confirm: "Are you sure you want to delete this feedback?" } %>
      <hr class="hr-center" />
    <% end %>
  </div>

  <div>
    <div class="align-center">
      <button class="content-click-modal btn btn-wide">Export</button>
    </div>
  </div>

  <hr />

  <div>
    <p>You've reached the end of your feedbacks. Comeback later and see if you get more feedbacks. You won't see feedbacks right away, to learn more <%= link_to "take a tour", root_path(anchor: "tour") %></p>
  </div>
</section>

<%= render 'export' %>